<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nyrxfnaqe.ybffraxb@tznvy.pbz</string>
	<key>contactName</key>
	<string>Aleksandr Lossenko</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>CSS3</string>
	<key>uuid</key>
	<string>48355F27-1D38-4052-8824-CD2BAD451413</string>
</dict>
</plist>
